.home {
  display: flex;
  width: 80%;
  height: 85vh;
  margin: 0 auto;
}

.home > .left {
  flex: 7;
  overflow-y: scroll;
}

.home > .left::-webkit-scrollbar {
  display: none;
}

.home > .right {
  flex: 2;
  margin: 40vh 0 0 0;
}

@media screen and (max-width: 1000px) {
  .home > .right {
    display: none;
  }
}
